.container, body, body .windowContainer, .item-details-container .item-details, .item-details-container .verb-details, .item-details-container .conjugation-rule-details-container, .item-details-container .conjugation-rule-details-container .conjugation-rule-details .conjugation-rule-title {
  width: 100%;
  height: 100%; }

body, body .windowContainer {
  position: fixed; }
  body .explorer {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 30px; }

.item-types-buttons-container {
  position: fixed;
  top: 0%;
  left: 0%;
  text-align: center;
  border-bottom: 1px;
  border-bottom-style: groove;
  border-right: 1px;
  border-right-style: groove; }
  .item-types-buttons-container h3 {
    cursor: pointer;
    display: inline;
    margin-right: 5px;
    margin-left: 5px; }
  .item-types-buttons-container h3:hover {
    font-weight: bold; }
  .item-types-buttons-container .item-toggler-verb {
    color: cornflowerblue; }
  .item-types-buttons-container .item-toggler-tense {
    color: palevioletred; }
  .item-types-buttons-container .item-toggler-person {
    color: mediumpurple; }
  .item-types-buttons-container .item-toggler-conjugationRule {
    color: darkgreen; }

.items-menu {
  min-width: max-content;
  height: 50%;
  top: 10%; }
  .items-menu input, .items-menu .items-search-verb, .items-menu .items-search-tense, .items-menu .items-search-person, .items-menu .items-search-conjugationRule {
    text-align: center;
    font-weight: bold;
    width: 99%;
    height: 20px; }
  .items-menu .items-search-verb {
    color: cornflowerblue; }
  .items-menu .items-search-tense {
    color: palevioletred; }
  .items-menu .items-search-person {
    color: mediumpurple; }
  .items-menu .items-search-conjugationRule {
    color: darkgreen; }
  .items-menu .items-list {
    width: 100%;
    direction: rtl;
    max-height: 630px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto; }
    .items-menu .items-list .item-list-view, .items-menu .items-list .verb-list-view,
    .items-menu .items-list .tense-list-view,
    .items-menu .items-list .person-list-view,
    .items-menu .items-list .conjugationRule-list-view, .items-menu .items-list .verb-list-view-selected, .items-menu .items-list .tense-list-view-selected, .items-menu .items-list .person-list-view-selected, .items-menu .items-list .conjugationRule-list-view-selected {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px;
      border-bottom: 1px;
      border-right: 2px;
      border-left: 2px;
      border-style: solid;
      cursor: pointer;
      height: 20px;
      font-weight: bold;
      direction: ltr; }
    .items-menu .items-list .verb-list-view {
      color: cornflowerblue; }
    .items-menu .items-list .tense-list-view {
      color: palevioletred; }
    .items-menu .items-list .person-list-view {
      color: mediumpurple; }
    .items-menu .items-list .conjugationRule-list-view {
      color: darkgreen; }
    .items-menu .items-list .verb-list-view:hover {
      background-color: aliceblue;
      color: dodgerblue; }
    .items-menu .items-list .tense-list-view:hover {
      background-color: lightpink;
      color: Crimson; }
    .items-menu .items-list .person-list-view:hover {
      background-color: lavender;
      color: rebeccapurple; }
    .items-menu .items-list .conjugationRule-list-view:hover {
      background-color: palegreen;
      color: forestgreen; }
    .items-menu .items-list .verb-list-view-selected {
      background-color: antiquewhite;
      color: cornflowerblue; }
    .items-menu .items-list .tense-list-view-selected {
      background-color: antiquewhite;
      color: palevioletred; }
    .items-menu .items-list .person-list-view-selected {
      background-color: antiquewhite;
      color: mediumpurple; }
    .items-menu .items-list .conjugationRule-list-view-selected {
      background-color: antiquewhite;
      color: darkgreen; }

.item-details-container {
  top: 10%;
  min-height: 650px;
  width: 78%; }
  .item-details-container .item-details, .item-details-container .verb-details, .item-details-container .conjugation-rule-details-container {
    border-top-style: groove;
    border-bottom-style: groove; }
  .item-details-container .labels, .item-details-container .verb-details .verbLabels, .item-details-container .verb-details .translation, .item-details-container .verb-details .participles-label, .item-details-container .verb-details .conjugations-label, .item-details-container .conjugation-rule-details-container .conjugation-rule-details .conjugation-rule-desc-label {
    margin-bottom: 2%;
    text-decoration: underline;
    margin-left: 2%; }
  .item-details-container .item-details-title, .item-details-container .verb-details .verb-title, .item-details-container .conjugation-rule-details-container .conjugation-rule-details .conjugation-rule-title {
    text-align: center;
    margin-top: 2%;
    position: relative;
    font-size: xx-large; }
  .item-details-container .verb-details .verb-title {
    color: dodgerblue; }
  .item-details-container .verb-details .verb-participles {
    margin-left: 2%;
    border-style: groove;
    width: fit-content;
    color: palevioletred; }
  .item-details-container .verb-details .verb-rules {
    margin-left: 2%;
    color: darkgreen; }
    .item-details-container .verb-details .verb-rules .verb-irregular-rules-title {
      text-decoration: underline; }
    .item-details-container .verb-details .verb-rules .verb-rule {
      cursor: pointer;
      text-decoration: underline; }
  .item-details-container .conjugation-rule-details-container .conjugation-rule-details .conjugation-rule-title {
    color: darkgreen; }
  .item-details-container .conjugation-rule-details-container .conjugation-rule-details .conjugation-rule-desc, .item-details-container .conjugation-rule-details-container .conjugation-rule-details .conjugation-rule-desc-edit {
    margin-left: 2%;
    width: fit-content;
    min-height: 45%;
    border-style: ridge;
    cursor: pointer; }
  .item-details-container .conjugation-rule-details-container .conjugation-rule-details .conjugation-rule-desc-edit {
    cursor: auto;
    width: 65%; }

/*# sourceMappingURL=index.css.map */
