#root, body, html, .AppContainer {
    width: 100%;
    height: 100%;
}

.verbs-explorer {
    position: fixed;
    top: 100px;
    left: 250px; 
}

.verbs-menu {
    display:inline-block;
    vertical-align: top;  
}

.verbs-search-text {
    text-align: center;
    font-weight: bold;
    color: cornflowerblue;
    width: 99%;
    height: 25px;
}

.verbs-list {
    width: fit-content;
    max-height: 400px;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
    direction: rtl;
    min-width: 200px;
    overflow-y: auto;
}

.verb-details {
    display: inline;
    max-height: 430px;
    background-color: beige;
    position: absolute;
    overflow-y: auto;    
}

.verb-details-spanishInfinative {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    text-decoration: underline;
    color: dodgerblue;
}

.verb_selected, .verb  {
    font-size: 10px;
    text-align: center;
    padding-left: 1px;
    padding-right: 1px;
    color: cornflowerblue;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 2px;
    border-left: 2px;
    border-style: solid;
    cursor: pointer;
    min-width: 80px;
}

.verb_selected {
    background-color: beige;
    color: dodgerblue;
    border-right-style: groove;
    border-left-style: groove;
    padding-top: 6px;
    padding-bottom: 6px; 
}

.verb:hover {
    background-color: aliceblue;
    color: dodgerblue;
}

